// font stack
$font: (
  'sans':                           "Myriad Pro, Helvetica Neue, Helvetica, sans-serif",
  'serif':                          "Times New Roman, Times, serif",
  'monospace':                      "monospace",
);

//fonts weights
$weight: (
  light:                          200,
  normal:                         400,
  bold:                           700,
);


//$fonts: (
//  'sans': (
//    'family':
//  )
//);
